@import "MFXColors.css";

.menuItem:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.sidebarItem:hover{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}

.loginBtn:hover{
    -fx-background-color: #146886;
    -fx-border-color: RED;
    -fx-border-width: 1px 1px 1px 1px;
}

.exitItem:hover{
     -fx-background-color: #eb4034 !important;
}

.exitItem:pressed{
     -fx-background-color: #e36259 !important;
}

.topbarItem:hover{
     -fx-background-color: #776558 !important;
}





.mfx-checkbox {
  -mfx-main: #6200EE;
  -mfx-secondary: #424242;
  -fx-font-family: "Open Sans Regular";
  -fx-text-fill: -mfx-text-he;

}

.mfx-checkbox .box {
  -fx-background-color: transparent;
  -fx-background-radius: 2;
  -fx-border-color: -mfx-secondary;
  -fx-border-radius: 2;
  -fx-border-width: 1.5;


}

.mfx-checkbox .box .mark {
  visibility: hidden;
  -mfx-color: white;
  -mfx-description: "fas-check";
  -mfx-size: 12;
}

.mfx-checkbox .ripple-container {
  -fx-padding: 4;
}

.mfx-checkbox .ripple-container .mfx-ripple-generator {
  -mfx-animation-speed: 1.5;
  -mfx-ripple-color: derive(-mfx-main, 110%);
  -mfx-ripple-radius: 16;
}

.mfx-checkbox:selected .box,
.mfx-checkbox:indeterminate .box {
  -fx-background-color: -mfx-main;
  -fx-border-color: -mfx-main;
}

.mfx-checkbox:selected .box .mark {
  visibility: visible;
}

.mfx-checkbox:selected:disabled .box,
.mfx-checkbox:indeterminate:disabled .box {
  -fx-background-color: -mfx-secondary;
  -fx-border-color: -mfx-secondary;
}

.mfx-checkbox:indeterminate .box .mark {
  visibility: visible;
  -mfx-description: "fas-minus";
}