@import "Colors.css";


.cambiarContrasena {
    -fx-background-color: rgba(0, 0, 0, 0) !important;
    -fx-text-fill: -amaster-gray !important;
    -fx-cursor: hand !important;
}

.cambiarContrasena:hover {
    -fx-background-color: rgba(0, 0, 0, 0) !important;
    -fx-text-fill: -amaster-blue !important;
}


.create-user-password-field-normal {
    -fx-background-color: #333;
    -fx-text-fill: white;


    -fx-prompt-text-fill: white;
}

.create-user-password-field-error {
    -fx-background-color: ff4d4f;
    -fx-text-fill: white;

}

.email-disable {
    -fx-background-color: -amaster-dark-gray !important;
    -fx-text-fill: -amaster-gray !important;


    -fx-prompt-text-fill: -amaster-gray !important;
}
