@import "Colors.css";


.slider {
    -fx-background-color: -amaster-dark-gray !important;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.3), 10.0, 0.0, 7.0, 0.0);

}


.slider .button {
    -fx-background-color: transparent !important;
    -fx-text-fill: white !important;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: transparent !important;
}

.slider .button:hover {
    -fx-background-color: -amaster-deep-dark-gray !important;
    -fx-text-fill: white !important;
    -fx-effect: dropshadow(gaussian, rgb(61, 65, 75), 50, 0.1, 0, 0);
    -fx-cursor: hand;
}


.slider .itemButton {
    -fx-background-color: -amaster-deep-dark-gray !important;
    -fx-text-fill: white !important;
    -fx-border-color: transparent !important;
}

.slider .itemButton:hover {
    -fx-border-color: white !important;
    -fx-border-width: 1;
    -fx-text-fill: white !important;
    -fx-effect: dropshadow(gaussian, rgb(61, 65, 75), 50, 0.1, 0, 0);
    -fx-cursor: hand;
}