@import "Colors.css";


.eliminar-usuario {
    -fx-background-color: -indicador-pedido-cancelado-color;
    -fx-text-fill: white;
    -fx-background-radius: 6; /* opcional */
    -fx-cursor: hand; /* opcional */
}

.eliminar-usuario:hover {
    -fx-background-color: -indicador-pedido-en-curso-color;
}


.edit-pedido-btn {
    -fx-background-color: #db9f75 !important;
    -fx-text-fill: red;
    -fx-background-radius: 6; /* opcional */
    -fx-cursor: hand; /* opcional */
}
