* {
    -mfx-blue: #2196f3;
    -mfx-charcoal: #445055;
    -mfx-green: #4caf50;
    -mfx-onyx: #353935;
    -mfx-orange: #ff9800;
    -mfx-purple: #7a0ed9;
    -mfx-red: #EF6E6B;
    -mfx-yellow: #FFEA00;
    /* High Emphasis */
    -mfx-text-he: rgba(0, 0, 0, 0.87);
    /* Medium Emphasis*/
    -mfx-text-me: rgba(0, 0, 0, 0.60);
    /* Disabled */
    -mfx-text-disabled: rgba(0, 0, 0, 0.38);


    -amaster-dark-blue3: #183e55;
    -amaster-dark-blue2: #183e55;
    -amaster-dark-blue: #053147;
    -amaster-blue: #006f84;


    -amaster-deep-dark-gray: #394955;
    -amaster-dark-gray: #394955;
    -amaster-gray2: #6b6b6b;
    -amaster-gray: #9cadbc;
    -amaster-light-gray: #f1f1e6;

    -amaster-light-brown: #DB9F75;
    -amaster-brown: #877056;
    -amaster-dark-brown: #544029;


    -pedido-pendiente-color: #2F3A32;
    -pedido-en-curso-color: #bfbfbf;
    -pedido-cancelado-color: #ed8080;

    -indicador-pedido-pendiente-color: #bfbfbf;
    -indicador-pedido-en-curso-color: #6b6b6b;
    -indicador-pedido-cancelado-color: #9e3a2c;
}
