@import "Colors.css";


.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #5e5e5e transparent;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: white;
    -fx-cursor: hand; /* opcional */

}

.combo-box .list-view {
    -fx-background-color: #2F3A32;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.combo-box .arrow {
    -fx-background-color: #FF794B;
}

.combo-box .text-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.combo-box-popup .list-view {
    -fx-background-color: #000;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}


.combo-box-popup .list-view .list-cell {
    -fx-background-color: -amaster-dark-gray;
    -fx-border-color: transparent transparent #5e5e5e transparent;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:hover {

    -fx-background-color: -amaster-dark-blue;
}

.combo-box .cell:selected {
    -fx-text-fill: white;
}


/* ==========================
   COMBOBOX ESTILO MPTEP
   ========================== */

/* Estilo base del ComboBox (cerrado) */
.combo-box.mptep-combo {
    -fx-text-fill: black;
}

/* Celda seleccionada visible en el ComboBox cerrado */
.combo-box.mptep-combo .list-cell:selected,
.combo-box.mptep-combo .cell:selected {
    -fx-text-fill: black !important;
}

/* ======== Desplegable (popup) ======== */

/* Celda normal dentro del desplegable */
.combo-box.mptep-combo .combo-box-popup .list-view .list-cell {

    -fx-background-color: -amaster-dark-gray;
    -fx-border-color: transparent transparent #5e5e5e transparent;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: white;
}

/* Hover dentro del desplegable */
.combo-box.mptep-combo .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -amaster-dark-blue;
    -fx-text-fill: white !important;
}

/* Celda seleccionada dentro del desplegable */
.combo-box.mptep-combo .combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: -amaster-dark-blue;
    -fx-text-fill: white !important;
}
