.create-user-password-field-normal {
    -fx-background-color: #333;
    -fx-text-fill: white;


    -fx-prompt-text-fill: white;
}

.create-user-password-field-error {
    -fx-background-color: ff4d4f;
}